(log_rotation) {
    log {
            output file /var/log/caddy/{args[0]}.log {
                    roll_size 1gb
                    roll_keep 5 # days
                    roll_keep_for 720h
            }
    }
}

(compression) {
    encode zstd gzip
}

# pgadmin
db.soupmodelmaker.local {
  reverse_proxy pgadmin:80
}

# modelmaker
http://soupmodelmaker.local, :81 {
    reverse_proxy modelmaker:3333
	import log_rotation modelmaker
    import compression
}
